.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.flex {
  display: flex
}

.w-\[95\%\] {
  width: 95%
}

.w-full {
  width: 100%
}

.max-w-\[1440px\] {
  max-width: 1440px
}

.max-w-\[1740px\] {
  max-width: 1740px
}

.max-w-\[1920px\] {
  max-width: 1920px
}

.items-center {
  align-items: center
}

.justify-between {
  justify-content: space-between
}

.overflow-hidden {
  overflow: hidden
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem
}

@media (max-width: 1740px) {
  .max-\[1740px\]\:w-\[95\%\] {
    width: 95%
  }
}

@media (max-width: 1440px) {
  .max-\[1440px\]\:mx-auto {
    margin-left: auto;
    margin-right: auto
  }

  .max-\[1440px\]\:w-\[95\%\] {
    width: 95%
  }
}

@media (max-width: 1024px) {
  .max-\[1024px\]\:w-\[95\%\] {
    width: 95%
  }
}